* {
    margin: 0;
    padding: 0;
}
.main-container {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 3rem;
}

button {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

#start-btn {
    background-color: rgb(47, 189, 137);
}
#pause-btn {
    background-color: rgb(189, 47, 47);
    color: white;
}
#reset-btn {
    background-color: rgb(152, 162, 43);
}

#lap {
    margin-top: 1rem;
    font-size: 2rem;
}

.laps {
    margin-top: 2rem;
    font-size: 1.3rem;
    background-color: aliceblue;
    color: black;
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow: auto;
}

.lap  {
    color: black;
    font-size: 1.5rem;
}

#lapssting {
    height: 8rem;
    width: 10rem;
    background-color: aliceblue;    
    padding: 1rem;
    border-radius: 1rem;
    overflow: auto;
}

.no-laps-heading {
    color: black;
    font-size: 2rem;
    text-align: center;

}